{
  "parser": "babel-eslint",
  "extends": [
    "react-app"
  ],
  "rules": {
    "jsx-a11y/href-no-hash": ["off"],
    "react/jsx-filename-extension": ["warn", { "extensions": [".js", ".jsx"] }],
    "no-restricted-globals": ["off"]
  }
}
